body {
    background: rgb(67, 67, 121);
    font: normal 15pt arial;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

header {
    color: white;
    text-align: center;

}

section {
    background: white;
    text-align: center;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.253);
}

a {
    font-family: fantasy;
    color: Black;
    text-decoration: none;
}

div.card {
    background-color: black;
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 2px;
}

p {
    font-family: cursive;
    color: Black;
    text-decoration: none;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;

}